* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* ===== Navbar ===== */
.main_container {
  height: 90px;
  width: 100%;
  display: grid;
  grid-template-columns: 4rem auto 1fr auto 4rem;
  align-items: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

/* ===== LOGO ===== */
.logo {
  grid-column: 2/3;
  text-align: center;
}

.logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid skyblue;
}

/* ===== MENU ===== */
.menu {
  grid-column: 3/4;
  justify-self: center;
}

.menu ul {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: fit-content;
}

.menu ul li {
  list-style: none;
  margin: 0 40px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  color: #222;
  position: relative;
}
.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: rgba(0, 0, 3, 1);
  transition: width 0.4s ease;
}
.menu ul li a:hover {
  color: #ff4d6d;
}

.menu ul li a:hover::after {
  width: 100%;
}
/* ===== SOCIAL ICONS ===== */
.socialContact {
  grid-column: 4/5;
}

.socialContact ul {
  height: 75px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.socialContact ul li {
  list-style: none;
  font-size: 26px;
  cursor: pointer;
}

#instagram {
  color: rgb(175, 5, 102);
}

#facebook {
  color: blue;
}

/* ===== HAMBURGER ICON ===== */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 875px) {
  .hamburger {
    display: block;
    grid-column: 3/4;
    justify-self: end;
    z-index: 101;
  }
  .menu {
    display: none;
  }

  .mobile_version {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    animation: slideDown 0.35s ease;
  }
  .mobile_version ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 18px;
  }

  .mobile_version ul li {
    list-style: none;
  }
  .mobile_version ul li a {
    font-size: 22px;
    color: #222;
    text-decoration: none;
    position: relative;
  }

  /* ===== SLIDE DOWN ANIMATION ===== */
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .socialContact {
    display: none;
  }
}
